<div class="menu-container">
  
  <div class="container">
    <div class="card" routerLink="/stocks/register-product">
      <span class="material-icons">fastfood</span>
      <span>Registrar producto</span>
    </div>
    <div class="card" routerLink="/stocks/manage-stocks">
      <span class="material-icons">kitchen</span>
      <span>Administrar Existencias</span>
    </div>
    <!-- <div class="card" routerLink="/stocks/stocks-history">
      <span class="material-icons">history</span>
      <span>Historial</span>
    </div> -->
  </div>

</div>