<div class="section-container">

    <div class="container" *ngIf="client">
  
      <h1>{{ client.name }}</h1>
      <div class="data-container">
  
        <div class="data-group">
          <p class="attribute">Teléfono(s):</p>
          <div class="data-item" *ngFor="let phone of client.phone; let i = index">
            <a href="tel:{{phone}}" class="sub">{{ phone }}</a>
          </div>
          <!--<div class="data-item">
            <p class="attribute">Email(s):</p>
            <p class="sub" *ngFor="let email of client.email">{{ email }}</p>
          </div>-->
          <div class="data-item">
            <div *ngFor="let location of client.location; let i = index">
              <p class="attribute">Ubicación #{{ i + 1 }}:</p>
              <p class="sub">Dirección: {{ location.address }}</p>
              <p class="sub">Descripción: {{ location.addressDescription }}</p>
              <a class="sub" href="https://www.google.com/maps/search/?api=1&query={{location.coordinates}}" target="_blank" class="sub">Obtener dirección</a>
              <br><br>
            </div>
          </div>
        </div>
        
        <div class="buttons-group">
          <button mat-raised-button [routerLink]="['/client/manage-clients/client-details/edit-client', client._id]" color="primary">Editar</button>
          <button mat-raised-button (click)="openDialog(client._id)" color="warn">Eliminar</button>
          <button mat-stroked-button [routerLink]="['/client/manage-clients']" color="primary">Regresar</button>
        </div>
  
      </div>
    </div>  
  
  </div>
