<form>
  <div class="form-container">
    <mat-form-field class="input-login" appearance="fill">
      <mat-label>Correo electrónico</mat-label>
      <input matInput type="email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="input-login" appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" [formControl]="password" required>
      <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>

    <button (click)="login()" class="button-login" mat-raised-button color="primary">Ingresar</button>
    <button class="button-login" mat-button color="primary" routerLink="/login/forgot-password">Olvidé mi contraseña</button>
  </div>
</form>