.data-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-list {
  display: inline;
  width: 90%;
  overflow-x: hidden;
  overflow-y: auto;
}

.product-data {
  width: 60%;
}

.quantity-data {
  width: 30%;
}